<div class="row-fluid">
<div class="col-md-12">
<div id="main" class="row-fluid">
<div class="content row-fluid">
<div class="text row-fluid">
<%= image_tag 'Chronus_4c.png' %>
<h1>CHRONUS HACKATHON </h1>
<h3>(SEP 22 10:00 AM - SEP 25 10:00 AM)</h3>
</div> <!-- /.Text Div -->
<div class="counter row-fluid">
<h2>STARTS IN:</h2>
<div id="countdown">
  
</div><!-- /#Countdown Div -->
</div> <!-- /.Counter Div -->
</div> <!-- /.Content Div -->
</div> <!-- /#Main Div -->
</div> <!-- /.Columns Div -->
</div> <!-- /.Row Div -->



<script type="text/javascript">
// set the date we're counting down to
var target_date = new Date('September 22, 2017 10:00:00').getTime();
 
// variables for time units
var days, hours, minutes, seconds;
 
// get tag element
var countdown = document.getElementById('countdown');
 
// update the tag with id "countdown" every 1 second
setInterval(function () {
 
    // find the amount of "seconds" between now and target
    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date) / 1000;
 
    // do some time calculations
    days = parseInt(seconds_left / 86400);
    seconds_left = seconds_left % 86400;
     
    hours = parseInt(seconds_left / 3600);
    seconds_left = seconds_left % 3600;
     
    minutes = parseInt(seconds_left / 60);
    seconds = parseInt(seconds_left % 60);
     
    // format countdown string + set tag value
    countdown.innerHTML = '<span class="days"><b>' + days +  ' </b><span>Days</span></span> <span class="hours"><b>' + hours + ' </b><span>Hours</span></span> <span class="minutes"><b>' + minutes + ' </b><span>Minutes</span></span> <span class="seconds"><b>' + seconds + ' </b><span>Seconds</span></span>';  
 
}, 1000);

</script>